*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://img.freepik.com/free-vector/abstract-digital-grid-vector-black-background_53876-111550.jpg?size=626&ext=jpg&ga=GA1.1.967060102.1709078400&semt=ais");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    display: flex;
    align-items: center;
    height: 500px;
    width: 400px;
    border: 0.5px solid rgba(0, 0, 0, 0.096);
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
   background-color: transparent;
   filter: blur(60%);
    


}
.form h1{
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
    margin: 40px;
    margin-bottom: 10px;
    margin-top: 30px;
    letter-spacing: 3px;
    color:white;
}
.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}
.box:hover{
    border-color: maroon;
}
.box:active{
    border-color: red;
}
.icon{
    position:absolute;
    display: inline;
    margin-left: 320px;
    margin-top: 118px;

}
.lock{
    position:absolute;
    display: inline;
    margin-left: 320px;
    margin-top: 188px;
    cursor: pointer;
}
.login-button{
    padding: 8px;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:maroon;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.login-button:hover{
    cursor: pointer;
    background-color: black;
    
}
.form a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}


.login-with{
    display: flex;
    flex-direction: column;
    color: white;
}
.new-account{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 60px;
    margin-top: -45px;
}
.google-logo{
    position: absolute;
    margin-left: 14px;
    margin-top: -5px;
    border-radius: 50%; 
}
.linkedin-logo{
    position: absolute;
    margin-left: 6px;
    margin-top: -5px;
    border-radius: 50%; 
}
.g-btn{
    width: 220px;
    height: 30px;
    border: 1px;
    border-radius: 20px;
    background-color: maroon;
}
.g-btn:hover{
    background-color: black;
}
.l-btn{
    width: 220px;
    height: 30px;
    border: 1px;
    border-radius: 20px;
    background-color: maroon;
    margin-top: 20px;
}
.l-btn:hover{
    background-color: black;
}
.forget:hover{
    color: maroon;
}
.reg:hover{
    color: maroon;
}