*{
    margin: 0px;
    padding: 0px;
}
.login-button{
    font-size: 16px;
    width: 400px;
    height: 36px;
    font-weight: 130px;
    background-color: rgb(30, 30, 233);
    border: 2px;
    border-radius: 4px;
    color: white;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
    
}
.login-button:hover{
    background-color: rgb(43, 43, 240);
    box-shadow: 0.5px 0.5px 1px rgb(39, 39, 39);
    cursor: pointer;
}
.google{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: inline;
    margin:0%;
    padding: 0%;
    
}
.linkedin {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
    
}
.google:hover,.linkedin:hover{
    text-decoration: underline;
}
.g-logo{
    position: relative;
    width: 30px;
    height: 25px;
    border-radius: 50%;
    margin-left: 0px;
    padding-top: 2px;
    margin-top: 6px;
}
.login-head{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 16px;
    color: blue;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}
.image{
    position: absolute;
    display: inline-block;
    margin-left: 2px;
    margin-top: 4px;
    

}
.pass-img{
    position: absolute;
    display: inline-block;
    margin-left: 4px;
    margin-top: 5px;
}
.img-text{
    position: absolute;
    font-size: small;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(251, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    visibility: hidden; 
    opacity: 0; 
    transition: visibility 0s, opacity 0.5s ease; 
}
.pass-img:hover .img-text{
    visibility: visible; 
    opacity: 1;
}
.pass-img:hover{
    cursor: pointer;
}
.register-link{
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 900;

}
.register-link:hover{
    text-decoration: underline;
    color: #007bff;
}
